*{padding: 0%;
margin: 0%;
box-sizing: border-box;}

.maindiv{
    width: 100vw;
    height: 100vh;

    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerdiv{
    background-image: linear-gradient(#18c5b7,rgba(12,32,43,1));
    justify-content: center;
    width: 60vw;
    height: 100%;
    position: relative;
}
#input{
    border: #18c5b7 4px solid;
    font-size: larger;
}
#add{
    border-width: 10px;
    border-color: chocolate;
    font-size: larger;
    border-radius: 50%;
    background-color: blanchedalmond;
}
.todolist{
    display: grid;
    position: absolute;
    top: 10vh;
    left: 10vh;
}